*{
margin: 0;
padding: 0;
}

header {
  background-color: blue;
  color: red;
  height: 150px;
}

header h1 {
  text-align: center;
  font-size: 50px;
 
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
}
nav ul {
  list-style: nome;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

.banana {
  background-color: black;
}
